.select{ display: inline-flex; }

.select__box, .select__box__input{
    background-color: #000;
    color: white;
    text-transform: capitalize;
    cursor: pointer;
}

select.select__box__input{ display: none; }

.select__box{
    position: relative;
    height: 34px;
    border-radius: 5px;
    background-color: #000;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 2.5em;
    margin-left: 10px;
    width: 150px;
}

.select__box.active{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.active > img.select__box__arrow{
    transform: rotate(-180deg)
}

.select__box__arrow{
    position: absolute;
    right: 10px;
    transition: all 0.1s ease-in-out;
}

.select__icon{
    margin-right: .5em;
}

.select__dropdown__option{
    color: #9f9f9f;
    padding: 9px 22px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    border-top: 1px solid #232323;
    background-color: #0f0f0f;
}

.select__dropdown__option:last-of-type{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.select__dropdown__option:hover{
    color: white;
}

.select__dropdown{
    position: absolute;
    margin-top: -1px;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    display: none;
}

.select__dropdown.active{
    display: inline;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.select__hide{
    display: none;
}