.App {
  background-color: #1b1b1b;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  color: #858585;
  min-height: 100vh;
}

.App-link {
  color: #00d9ff;
}

.voiceContainer{
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.section{
  width: 70%;
  position: relative;
}

.header{
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
  width: 100%;
  margin-top: 1em;
}

.rightElements{
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1480px) {
  .voiceSection{
    width: 80%;
  }
}

@media screen and (max-width: 1280px) {
  .voiceSection{
    width: 90%;
  }
}